{% extends 'base.html' %}
{% block title %}
Gerenciar
{% endblock %}
{% block content %}
<div class="CentralizarCard">
    <div class="card bg-light mb-5">
        <div class="card-body">
            <div class="CentralizarTexto">
                <h3 class="CentralizarTexto"> Criar Cupom</h3>
            </div>
            <p class="card-text">Defina um cupom ou gere automaticamente: </p>
                <form action="/criar-cupom" method="POST" onsubmit="AlertInseridoComSucesso()">
                    {{ form.csrf_token }}
                    Cupom:
                    {{ form.cupom(type="text", id="cupom", class="form-control", placeholder=cupons.cupom)}}
                    Data de expiração:
                    {{ form.dataExpiracao(type='date', class="form-control", id="data", value='20/11/2020')}}
                    Valor:
                    {{ form.valor(type="text", id="valor", class="form-control", placeholder=cupons.valor) }}
                <input type="submit" class="btn btn-primary"> <br>
            </form>

            <div class="InlineBlock">
                <button onclick="gerarCupom()" class="btn btn-primary">Gerar Cupom</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}